footer.l-footer
  section.footer__information
    .box 
      .grid
        .grid__cell(class="2/5")
          .footer__logo
            .m-logo
              a.logo__image(href="#") 
                img(src=srcImage+"silk-logo-grey.png" alt="alternative text" height="47" width="140")
              p.logo__information Donec sed odio dui. 
                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
        .grid__cell(class="3/5")
          .footer__navigation
            section.footer__navigation__information
              nav.navbar
                h3.navigation__header information
                ul.navigation.navigation--vertical
                  li.navigation__item 
                    a.link(href="#") FAQs
                  li.navigation__item
                    a.link(href="#") Size Guide
                  li.navigation__item
                    a.link(href="#") Delivery Info
                  li.navigation__item
                    a.link(href="#") Return Info
                  li.navigation__item
                    a.link(href="#") Discount
                  li.navigation__item
                    a.link(href="#") Our Stores
            section.footer__navigation__account
              nav.navbar
                h3.navigation__header accounts
                ul.navigation.navigation--vertical
                  li.navigation__item
                    a.link(href="#") Login
                  li.navigation__item
                    a.link(href="#") Register
                  li.navigation__item
                    a.link(href="#") My Cart
                  li.navigation__item
                    a.link(href="#") Orders
                  li.navigation__item
                    a.link(href="#") Wishlist
            section.footer__navigation__contact
              nav.navbar
                h3.navigation__header contact us 
                ul.navigation.navigation--vertical
                  li.navigation__item
                    a.link(href="#") 48 Park Avenue,
                  li.navigation__item
                    a.link(href="#") East 21st Street,Apt.304 San Francisco
                  li.navigation__item
                    a.link(href="") Email: 
                      span.link--blue 
                        strong support@diiim.com 
                  li.navigation__item
                    a.link(href="#") Phone: 415-515-6171
                  li.navigation__item
                    a.link(href="#") Fax: 415-515-6171
  section.footer__copyright
    .box
      .grid
        .grid__cell(class="1/1")
          p.footer__copyright__text.text-secondary-dark © 2015 Silk UI Kit All rights reserved
    