//list of type of button
$button-rounded-radius: 20px;

$button-size-modifier: (
  xsmall: 1px 5px,
  small: 5px 10px,
  large: 12px 28px,
  extra-large: 13px 31px
);

$button-type-color: (
  default: none,
  primary: map-get($background-color, secondary-blue-lighter),
  info: map-get($background-color, color-white),
);

$button-type-border: (
  default: map-get($border-color, base-border-light),
  primary: map-get($border-color, base-border-blue),
  info: map-get($border-color, base-border-lightest)
);

$button-type-font: (
  default: map-get($text-color, color-white),
  primary: map-get($text-color, color-white),
  info: map-get($text-color, secondary-dark)
);

//btn generic
.btn {
  font-size: map-get($font-size, normal);
  font-family: $font-slave-bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  letter-spacing: 1px;
  padding: 12px 26px;
  display: inline-block;
  //generate button type in the map list background and border
  @each $name, $color in $button-type-color {
    &--#{$name} {
      background: $color;
      color: map-get($button-type-font, $name);
      border: 1px solid map-get($button-type-border, $name);
    }
  }
  //generate button type dimension in the map list
  @each $size, $modifier in $button-size-modifier {
    &--#{$size} {
      font-size: map-get($font-size, $size);
      padding: $modifier;
    }
  }

  //modificator of button
  &--rounded {
    border-radius: $button-rounded-radius; 
  }

  & > .icon {
    margin-right: 10px;
  }
}
